.todo {
    background-color: #f9f9f9;
    /* width: 80%;
    min-width: 400px; */
    width: max(80%, 400px); /* 기본 80%, 최소 400px */
    margin: 20px auto; /* 위아래 20px, 좌우 여백 균등하게 margin */
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* x축, y축, 아래로 2px, 블러 4px, 검정에 불투명도 0.1 */
}

.todo__form {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.todo__input {
    font-size: 1.2em;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1; /* flex일 때 남은 공간 다 차지*/
}

.todo__button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    color:#fff;
    cursor: pointer; /* 누르는 요소는 손모양으로 변해서 알리자 */
}

.todo__button--add{
    background-color: #4984e4;
}

.todo__item {
    display: flex;
    align-items: center; /* 높이 가운데 정렬 */
    padding: 10px;
    border-bottom: 1px solid #eee;
    gap: 10px; /* flex가 되는 아이템 사이 여백 */
}

.todo__check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #999; /* 체크한 배경색: 눈에 덜 띄게 함 */   
}

.todo__label {
    flex: 1;
}

.todo__button--edit,
.todo__Button--delete {
    font-size: 0.8rem;
    padding: 6px;
}

.todo__item--complete .todo__label {
    color: #999;
    text-decoration: line-through;
}

/* .todo__item--complete 밑에 .todo__label을 흐리게, 취소선하자
.todo__itme--complete > .todo__label: 바로 아래 자식
.todo__itme--complete .todo__label: 언젠가 아래 자손 */